.fab-btn{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: black;
    background-color: blueviolet;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
    transition: transform 0.2s , background 0.2s;
}
.fab-btn:hover{
    transform: scale(1.1) rotate(90deg);
    background-color: palevioletred;
}