.shimmer-text{
    background: linear-gradient(to right, #0f172a 20%, #94a3b8 40%, #0f172a 60%);
    color: rgba(15 , 23 , 42 , 0.2);
    display: inline-block;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: sweep 2s linear infinite;
}
@keyframes sweep{
    to{background-position: 200% center;}
}