.theme-switch{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 35px;
}
.theme-switch input {display: none;}
.slider{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: purple;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.4s;
}
.slider::before{
    content: "";
    position: absolute;
    width: 26px ;
    height: 26px;
    left: 4px;
    bottom: 2px;
    border-radius: 50%;
    background-color: plum;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #10b981;
}
input:checked + .slider::before{
    transform: translateX(16px);
}