.tooltip-container{
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: purple;
    font-family: sans-serif;
}
.tooltip-text{
    position: absolute;
    top: 130%;
    left: 50%;
    padding: 8px 16px;
    background-color: plum;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
     transform: translateX(-10%)  scale(0.9);
     transition: opacity 0.3s cubic-bezier(0.4, 0 , 0.2 , 1),
                transform 0.3s cubic-bezier(0.4 , 0, 0.2 , 1);
}
.tooltip-container:hover  .tooltip-text{
    opacity: 1;
    visibility: visible;
    transform: translateX(-10%) scale(0.9);
    transition: opacity 0.3s cubic-bezier(0.4, 0 , 0.2 , 1),
                transform 0.3s cubic-bezier(0.4 , 0, 0.2 , 1);
}
