.blog-container{
    display: flex;
    gap: 30px;
    font-family: sans-serif;
    max-width: 800px;
}
.blog-main{
    flex: 3;
    background-color: beige;
    border-radius: 8px;
    padding: 20px;
}
.blog-sidebar{
    flex: 1;
    padding: 20px;
    background-color: beige;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
}
.blog-sidebar a{
    text-decoration: none;
    color: black;
    margin-bottom: 8px;
    font-size: 0.9rem;
}
@media (max-width: 600px){
    .blog-container{
        flex-direction: column;
    }
    .blog-container > .blog-main,
    .blog-container > .blog-sidebar{
        background-color: antiquewhite;
        box-shadow: 0 2px 14px -3px rgba(0,0,0,0.5);
        transform: scale(0.9);
    }
}