.contact-form{
    width: 380px;
    background-color: cornflowerblue;
    padding: 30px;
    font-size: 1rem;
   font-family: sans-serif;
   border: 1px solid blue;
   border-radius: 10px;
   box-shadow: 0 4px 8px -1px rgba(0,0,0,0.8);
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,0.8);
}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 0.8rem;
}
.form-group input:focus,
.form-group textarea:focus{
    border: 1px solid blue;
    box-shadow: 0 2px 5px rgba(0, 47, 255, 0.8);
}
.contact-form button{
    width: 100%;
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 0.9rem;
}
.contact-form button:hover{
    background-color:darkcyan;
    width: 50%;
    transition: transform 0.3s ease;
}
