.feature-item{
    display: flex;
    gap: 16px;
    max-width: 400px;
    font-family: sans-serif;
}
.feature-icon{
    font-size: 1.5rem;
    background-color: bisque;
    padding: 16px;
    border-radius: 8px;
    height: max-content;
}
.feature-item h4{
    margin: 0 0 6px 0;
}
.feature-item p{
    margin: 0;
    line-height: 1.4;
}