.toast{
    width: 300px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border-left: 4px solid black;
    box-shadow: 0 6px 12px rgba(0,0,0,0,0.5);
}
.toast-close{
    cursor: pointer;
    opacity: 0.5;
}
.toast-close:hover{
    opacity: 1;
}