.progress-circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#3b82f6 calc(var(--percent) * 1%), #e2e8f0 0);
}
.inner-circle{
    width: 96px;
    height: 96px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    
}