.recipe-container{
    width: 400px;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.6);
    
}
.recipe-container:hover{
    transform: translateY(10px);
}
body{
    display: flex;
    justify-content: center;
align-content: center;
}
.recipe-img{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmDg1SkPekdlPGrbPmO0fD3jIBdWQQ5Y7Wpg&s') center/cover;
    height: 200px;

}
.recipe-img:hover{
    opacity: 0.9;
    background-color: antiquewhite;
    transition: 0.3s ease;
}
.recipe-content{
    padding: 20px;
    
}
.recipe-tag{
    background-color: brown;
    color: white;
    width: 50px;
    padding: 4px 10px;
    border-radius: 10px;
}
.recipe-content h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0px 2px 3px burlywood;
}
.recipe-content p{
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}
.recipe-meta{
    border-top: 2px solid black;
    padding-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}